# Python cache and test cache
__pycache__
.pytest_cache

# Coverage reports
.coverage
htmlcov
coverage.xml
coverage.json
coverage.lcov

# Poetry package and environment
.venv
dist

# Documentation builds
docs/images/*
!docs/images/guide
public

# Tutorial data
tutorials/*
!tutorials/*.ipynb
docs/tutorial-resources
docs/tutorial-resources.zip
